#options {
    width: 960px;
    margin: 10px auto 10px auto;
}

#options > *:not(:last-child) {
    margin-right: 10px;
}

#options h3 {
    display: inline-block;
    float: right;
}

#properties {
	position: absolute;
	margin: 0 5px 0 5px;
}

svg#graph {
    display: block;
    margin: 0 auto;
    box-shadow: 2px 1px 5px #ccc;
    border-radius: 3px;
}

svg.legend {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
  text-anchor: middle;
}
