@import "node_modules/bulma/bulma";
@import "node_modules/bulma-tooltip/src/sass/index";

#options {
    width: 72.5vw;
    margin: 10px auto 10px auto;
}

#options > *:not(:last-child) {
    margin-right: 10px;
}

.control {
    &.has-icons-left,
    &.has-icons-right {
        .icon {
            pointer-events: initial;
            cursor: pointer;
        }
    }
}

#properties {
    margin: 0 5px 0 5px;
}
@include from($tablet) {
    #properties {
        position: absolute;
    }
}

svg#graph {
    display: block;
    width: 100%;
    height: 100%;
}
#container {
    height: 80vh;
    width: 100vw;
    box-shadow: 2px 1px 5px #ccc;
    margin: 5px;
    border-radius: 3px;
}
@include from($tablet) {
    #container {
        width: 80vw;
        margin-left: auto;
    }
}
@include from($desktop) {
    #container {
        width: 72.5vw;
        margin-left: auto;
        margin-right: auto;
    }
}

svg.legend {
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
  text-anchor: middle;
}

.buttons.has-addons .button.tooltip {
    z-index: 9999;
}
.tooltip {
    &:not(:hover):not(.has-tooltip-active) {
        &::before, &::after {
            opacity: 0;
            visibility: hidden;
        }
    }
    &::before, &::after {
        transition: opacity .5s ease;
        opacity: 0;
        content: '';
        position: absolute;
    }
}
